*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container-fluid{
    background-color: #f0f2f5;
    width: 100%;
    height: 150vh;
}
.float{
 margin-left: 10%;
 
  
}
.float>img{
    font-size: 50px !important;
    width: 60%;
    margin-top: 30%;
    
 }
 .float>p{
     font-size: 150%;
 }
 .form-group{
     margin-top: 20%;
     padding-top: 2%;
     
     
   
     }
 
 form{
     position: relative;
     background-color:white;
     width: 70%;
     height: 70%;

     margin-left: 20%;
     border-radius: 3%;
     box-shadow: 1px 2px 2px;
 }
 
 
.container input {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;

    
}
.container .form-group button{
   margin-top: 8%;
   width: 80%;
    margin-left: 10%;
  
}
div> a{
    margin-top: 30%;
    margin-left: 30%;
   
}

.div2>p{
    margin-top: 5%;
    margin-left: 30%;
    font-size: 110%; 
    font-weight: 110;
}
span{
    font-weight: 400;
    color: black;
    border: none;
    font-size: 120%;

}
 div>a{
   text-decoration: none; 
 }
 div>a:hover{
     text-decoration: underline;
 }
 .div2>p>a{
    text-decoration: none; 
 }
 .div2>p>a:hover{
    text-decoration: underline;
 }
hr{
    width: 70%;
    left: 20%;
    position: absolute;
}
.div1{
    width: 60%;
    height: 20% !important;
     margin-top: 10%;
     margin-left: 20%;
   
}
.div1>button{
    border: none;
    background-color: #42b72a;
    border-radius: 20px;
    height: 50px;
   
}
.div1>button:hover{
    background-color: #389924;

}
footer{
    background-color: #e6e3e3;
    height: 40vh;
}
.div3{
    margin-left: 20%;
  padding-top: 20px;
  font-size: 90%;


}

.div3>p>a{
    text-decoration: none;
    color: gray;
}
.divclass>p>a{
    text-decoration: none;
    color: gray;


}
.divclass{
    padding-top: 5%;
}
.divclass>p>a:hover{
    color: gray;
    text-decoration: underline;

}
.div3>p>a:hover{
    color: gray;
    text-decoration: underline;

}
